
<div class="contenedor">
    <h2 class="text-center">VEHICULOS ULTIMO MODELOS</h2>

    <button (click)="mostrar=!mostrar" class="btn  btn-block" value="Mostrar">Mostrar/Ocular</button>
    
    <hr>
    <div *ngIf="mostrar" class="card">
        <h5 class="card-header">Vehículos</h5>
        <div class="card-body">
          <h5 class="card-title">Lista de vehículos</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Año</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carro of vehiculos">
                        <td class="img"><img src="{{carro.img}}" alt=""></td>
                        <td>{{carro.marca}}</td>
                        <td>{{carro.modelo}}</td>
                        <td>{{carro.anio}}</td>
                        <td>{{carro.precio}}</td>
                    </tr>
                </tbody>
              </table>
          </div>

        </div>

        
      </div>

<!-- <img src="../../../assets/chevrolet.png" alt="">
<img src="../../../assets/l200.png" alt="">
<img src="../../../assets/nissan-ft.jpg" alt="">
<img src="../../../assets/ram.jpg" alt=""> -->
</div><!--fin contenedor-->
<br>
